.footer {
  background-color: #282c34;
  color: white;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.footer .MuiTypography-root {
  margin-bottom: 8px;
}

.footer .MuiTypography-body2 {
  font-size: 14px;
}

.footer .MuiTypography-h6 {
  font-size: 18px;
}

.footer .MuiContainer-root {
  max-width: 1200px;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 10px;
  }

  .footer .MuiTypography-h6 {
    font-size: 16px;
  }

  .footer .MuiTypography-body2 {
    font-size: 12px;
  }
}